<ul id="exclusive_container" class="clearfix">
  <li id="exclusive_2232" class="clearfix exclusive exclusive_shuffle">
		<span class="thumbnial">
			<b><i>
              <img alt="​Modern Place (โมเดิร์น เพลส) - อพาร์ทเม้นท์ หอพัก ย่าน " src="http://r0.static.in.th/images/uploaded/201301/20130125/apartment_pictures/thumbnail/86a47dacd46a6583df4d96a61fa3c65e.jpg">
            </i></b>
		</span>

    <img alt="Exclusive_ribbon" class="sponsor-badge" src="http://r1.static.in.th/assets/exclusive_ribbon.png">

    <span class="name"><a href="/modern-place-โมเดิร์น-เพลส">Modern Place (โมเดิร์น เพลส)</a> </span>
    <span class="addr">ซ.ชินเขต2/26 ถ.งามวงศ์วาน กรุงเทพมหานคร</span>


    <span class="price">3,600 - 4,000 <b>บาท/เดือน</b></span>

    <div class="buttonicon">
      <div class="star small gray button not-favorited">
        <span></span><i>Save</i>
      </div>
    </div>
  </li>
  <li id="exclusive_8099" class="clearfix exclusive exclusive_shuffle">
		<span class="thumbnial">
			<b><i>
              <img alt="​The Enrich Sathorn - อพาร์ทเม้นท์ หอพัก ย่าน BTS วงเวียนใหญ่" src="http://r3.static.in.th/images/uploaded/201308/20130815/apartment_pictures/thumbnail/71585dbed2ffe9801cd9eb8c65e0e26a.jpg">
            </i></b>
		</span>

    <img alt="Exclusive_ribbon" class="sponsor-badge" src="http://r1.static.in.th/assets/exclusive_ribbon.png">

    <span class="name"><a href="/the-enrich-sathorn">The Enrich Sathorn</a> <img alt="New" src="http://r2.static.in.th/assets/new.gif"></span>
    <span class="addr">ซ.กรุงธนบุรี 6 (เชิงสะพานสาทร) ถ.กรุงธนบุรี กรุงเทพมหานคร</span>


    <span class="price">7,000 - 14,000 <b>บาท/เดือน</b></span>

    <div class="buttonicon">
      <div class="star small gray button not-favorited">
        <span></span><i>Save</i>
      </div>
    </div>
  </li>
  <li id="exclusive_7875" class="clearfix exclusive exclusive_shuffle">
		<span class="thumbnial">
			<b><i>
              <img alt="​บ้านมีนา - อพาร์ทเม้นท์ หอพัก ย่าน " src="http://r0.static.in.th/images/uploaded/201306/20130627/apartment_pictures/thumbnail/3ded7e2d1219ad718f03615041df96ec.jpg">
            </i></b>
		</span>

    <img alt="Exclusive_ribbon" class="sponsor-badge" src="http://r1.static.in.th/assets/exclusive_ribbon.png">

    <span class="name"><a href="/บ้านมีนา">บ้านมีนา</a> <img alt="Update" src="http://r1.static.in.th/assets/update.gif"></span>
    <span class="addr">ซ.วิภาวดี 38 ถ.วิภาวดีรังสิต กรุงเทพมหานคร</span>


    <span class="price">5,500 - 12,000 <b>บาท/เดือน</b></span>

    <div class="buttonicon">
      <div class="star small gray button not-favorited">
        <span></span><i>Save</i>
      </div>
    </div>
  </li>
  <li id="exclusive_7396" class="clearfix exclusive exclusive_shuffle">
		<span class="thumbnial">
			<b><i>
              <img alt="​Ideal Place (ไอดีล เพลส) - อพาร์ทเม้นท์ หอพัก ย่าน " src="http://r1.static.in.th/images/uploaded/201303/20130311/apartment_pictures/thumbnail/396e3cc1beaacd32c3c61c3f0ca838dd.jpg">
            </i></b>
		</span>

    <img alt="Exclusive_ribbon" class="sponsor-badge" src="http://r1.static.in.th/assets/exclusive_ribbon.png">

    <span class="name"><a href="/ideal-place-ไอดีล-เพลส">Ideal Place (ไอดีล เพลส)</a> </span>
    <span class="addr">ซ.งามวงศ์วาน 18 (แยก 3) ถ.งามวงศ์วาน นนทบุรี</span>


    <span class="price">4,500 - 8,500 <b>บาท/เดือน</b></span>

    <div class="buttonicon">
      <div class="star small gray button not-favorited">
        <span></span><i>Save</i>
      </div>
    </div>
  </li>

  <li class="clearfix exclusive">
		<span class="thumbnial">
			<b><i>
              <img alt="Exclusive_blank" src="http://r1.static.in.th/assets/exclusive_blank-82e942c1bcd64e0963bc9c6d80421a43.png">
            </i></b>
		</span>
    <img class="sponsor-badge" src="/assets/exclusive_ribbon.png">

    <span class="name"><a href="/advertise" rel="nofollow">สนใจลงโฆษณา ตำแหน่งที่พักแนะนำ</a></span>
    <span class="price">โทร 088-013-0262</span>
    <button class="button green small" style="position: absolute;top: 105px;right: 10px;">ดูรายละเอียดเพิ่มเติม</button>
  </li>

  <li class="clearfix exclusive">
		<span class="thumbnial">
			<b><i>
              <img alt="Exclusive_blank" src="http://r1.static.in.th/assets/exclusive_blank-82e942c1bcd64e0963bc9c6d80421a43.png">
            </i></b>
		</span>
    <img class="sponsor-badge" src="/assets/exclusive_ribbon.png">

    <span class="name"><a href="/advertise" rel="nofollow">สนใจลงโฆษณา ตำแหน่งที่พักแนะนำ</a></span>
    <span class="price">โทร 088-013-0262</span>
    <button class="button green small" style="position: absolute;top: 105px;right: 10px;">ดูรายละเอียดเพิ่มเติม</button>
  </li>

</ul>