<div id="footer">
  <div class="footer-body">


    <div class="banner-box">


      <div id="footer-banner-box2" style="display: block;">


        <table width="730" border="0" cellspacing="0" cellpadding="0" style="margin: 15px 0 25px 0;">
          <tbody><tr>
            <td width="182"><table width="170" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td width="15"><img alt="Bullet-footer_11" src="/assets/bullet-footer_11.png"></td>
                <td width="156" class="text-head-footer">อสังหาฯ สำหรับขาย</td>
              </tr>
              </tbody></table>
            </td>
            <td width="182"><table width="170" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td width="15"><img alt="Bullet-footer_11" src="/assets/bullet-footer_11.png"></td>
                <td width="156" class="text-head-footer">อสังหาฯ สำหรับเช่า</td>
              </tr>
              </tbody></table></td>
            <td width="182"><table width="170" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td width="15"><img alt="Bullet-footer_11" src="/assets/bullet-footer_11.png"></td>
                <td width="156" class="text-head-footer">ทำเลยอดนิยม</td>
              </tr>
              </tbody></table></td>
            <td><table width="170" border="0" cellspacing="0" cellpadding="0">
              <tbody><tr>
                <td width="15"><img alt="Bullet-footer_11" src="/assets/bullet-footer_11.png"></td>
                <td width="156" class="text-head-footer">คู่มือซื้อขาย</td>
              </tr>
              </tbody></table></td>
          </tr>
          <tr>
            <td valign="top">
              <div class="list-footer">
                <ul>
                  <li>ขายคอนโด</li>
                  <li>ขายบ้าน</li>
                  <li>ขายทาวน์เฮ้าส์</li>
                  <li>ขายที่ดิน</li>
                  <li>ขายอพาร์ทเม้นท์</li>
                  <li>Commercial Property Legal Advice</li>
                </ul>
              </div>
            </td>
            <td valign="top"><div class="list-footer">
              <ul>
                <li>ให้เช่าคอนโด</li>
                <li>บ้านเช่า</li>
                <li>ทาวน์เฮ้าส์ให้เช่า</li>
                <li>เช่าที่ดิน</li>
                <li>อพาร์ทเม้นท์ให้เช่า</li>
                <li>เช่าทรับย์เชิงพาณิชย์</li>
              </ul>
            </div></td>
            <td valign="top"><div class="list-footer">
              <ul>
                <li>กรุงเทพ</li>
                <li>นนทบุรี</li>
                <li>ปทุมธานี</li>
                <li>เชียงใหม่</li>
                <li>เชียงราย</li>
                <li>ชลบุรี</li>
              </ul>
            </div></td>
            <td valign="top">
              <div class="list-footer">
                <ul>
                  <li>ข่าว/บทความ</li>
                  <li>คู่มือการลุงทุน</li>
                  <li>สถานที่น่าสนใจ</li>
                  <li>คำนวนสินเชื่อเพื่อที่อยู่อาศัย</li>
                </ul>
              </div></td>
          </tr>
          </tbody></table>

        <div class="clear"></div>
      </div>



    </div>

    <div class="icon-footer">
      <img alt="Icon-footer" height="29" src="/assets/icon-footer.png" width="29">
      <p class="text-footer">สงวนลิขสิทธิ์ © 2556<br>
        Copyright © 2012 siamdealproporty.com, All Rights Reserved</p>

      <p class="text-footer-menu"><a href="#">ค้นหาประกาศ .</a> <a href="#">โครงการคอนโด .</a><a href="#">โครงการใหม
        .</a><a href="#">ต่างประเทศ .</a><a href="#">ค้นหาตัวแทน .</a><a href="#">ข่าว/บทความ .</a><a href="#">คู่มือซื้อขาย
        .</a></p>

      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>