<div id="footer">
  <div class="footer-body">


    <div class="banner-box">


      <div id="footer-banner-box2" style="display: block;">
        <div class="span2 footer_zones">
          <h4>หอพักใกล้มหาลัย</h4>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยรามคำแหง">หอพัก รามคำแหง</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยหอการค้าไทย">หอพัก หอการค้า</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยธรรมศาสตร์">หอพัก ธรรมศาสตร์</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยธรรมศาสตร์-ศูนย์รังสิต">หอพัก ธรรมศาสตร์ รังสิต</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยเอแบค">อพาร์ทเม้นท์ เอแบค</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยเอแบค-บางนา">อพาร์ทเม้นท์ เอแบค บางนา</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยกรุงเทพ-ศูนย์รังสิต">หอพัก ม.กรุงเทพ รังสิต</a>
        </div>

        <div class="span2 footer_zones">
          <h4>หอพักใกล้มหาลัย</h4>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยรามคำแหง">หอพัก รามคำแหง</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยหอการค้าไทย">หอพัก หอการค้า</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยธรรมศาสตร์">หอพัก ธรรมศาสตร์</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยธรรมศาสตร์-ศูนย์รังสิต">หอพัก ธรรมศาสตร์ รังสิต</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยเอแบค">อพาร์ทเม้นท์ เอแบค</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยเอแบค-บางนา">อพาร์ทเม้นท์ เอแบค บางนา</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยกรุงเทพ-ศูนย์รังสิต">หอพัก ม.กรุงเทพ รังสิต</a>
        </div>

        <div class="span2 footer_zones">
          <h4>หอพักใกล้มหาลัย</h4>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยรามคำแหง">หอพัก รามคำแหง</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยหอการค้าไทย">หอพัก หอการค้า</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยธรรมศาสตร์">หอพัก ธรรมศาสตร์</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยธรรมศาสตร์-ศูนย์รังสิต">หอพัก ธรรมศาสตร์ รังสิต</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยเอแบค">อพาร์ทเม้นท์ เอแบค</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยเอแบค-บางนา">อพาร์ทเม้นท์ เอแบค บางนา</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยกรุงเทพ-ศูนย์รังสิต">หอพัก ม.กรุงเทพ รังสิต</a>
        </div>

        <div class="span2 footer_zones">
          <h4>หอพักใกล้มหาลัย</h4>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยรามคำแหง">หอพัก รามคำแหง</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยหอการค้าไทย">หอพัก หอการค้า</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยธรรมศาสตร์">หอพัก ธรรมศาสตร์</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยธรรมศาสตร์-ศูนย์รังสิต">หอพัก ธรรมศาสตร์ รังสิต</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยเอแบค">อพาร์ทเม้นท์ เอแบค</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยเอแบค-บางนา">อพาร์ทเม้นท์ เอแบค บางนา</a>
          <a href="/อพาร์ทเม้นท์-ห้องพัก-หอพัก-บริเวณ/มหาวิทยาลัยกรุงเทพ-ศูนย์รังสิต">หอพัก ม.กรุงเทพ รังสิต</a>
        </div>



        <div class="clear"></div>
      </div>



    </div>

    <div class="icon-footer-bar">
      <img alt="Icon-footer" height="29" src="/assets/icon-footer.png" width="29">
      <p class="text-footer">สงวนลิขสิทธิ์ © 2556<br>
        Copyright © 2012 siamhorpak.com, All Rights Reserved</p>

      <p class="text-footer-menu"><a href="#">ค้นหาประกาศ .</a> <a href="#">โครงการคอนโด .</a><a href="#">โครงการใหม
        .</a><a href="#">ต่างประเทศ .</a><a href="#">ค้นหาตัวแทน .</a><a href="#">ข่าว/บทความ .</a><a href="#">คู่มือซื้อขาย
        .</a></p>

      <div class="clear"></div>
    </div>
    <div class="clear"></div>
  </div>
  <div class="clear"></div>
</div>